* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --btncolor: rgb(13, 80, 204);
  --placeholder: rgb(217, 20, 132);
}

form {
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid salmon;
}

.fields {
  display: block;

  border: 2px solid rgb(6, 147, 175);
  outline: none;
  border-radius: 15px;
  padding: 10px 5px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}
input:focus {
  border: 2px solid rgb(9, 230, 9);
}
input::placeholder {
  color: var(--placeholder);
}
label {
  color: var(--placeholder);
}

input[type="radio"]:checked + label {
  color: rgb(8, 227, 8);
}
.btnn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnn a {
  padding: 5px 10px;
  border: 1px solid var(--placeholder);
  color: var(--placeholder);
  border-radius: 10px;
  text-decoration: none;
}

.btnn a:hover {
  color: white;
  background-color: rgb(10, 107, 211);
  border: 1px solid rgb(10, 107, 211);
}
